@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins:ital,wght@0,300;0,400;1,300;1,400&family=Work+Sans:wght@600&display=swap");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css");
*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

input,
button {
  outline: 0;
}

body {
  font-size: 1em;
}

h1,
h2,
h3,
h4 {
  font-family: "Work Sans", sans-serif;
  color: #292929;
  letter-spacing: -1px;
}

a,
p,
li,
button,
input,
label {
  font-weight: 400;
  color: #333333;
  text-decoration: none;
}

p a {
  color: #00a6fb;
}

i {
  display: flex;
}

ul {
  list-style-type: none;
}

.myNameTag {
  font-family: "Fira Code", serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #f0db4f;
}

hr {
  border: 0;
  width: 400px;
  height: 1px;
  background-color: #cccccc;
  margin-block: 1rem;
  display: flex;
  justify-content: center;
  overflow: visible;
}
hr::after {
  content: "ou";
  height: max-content;
  padding-inline: 0.4rem;
  display: flex;
  font-size: 14px;
  font-kerning: 500;
  color: #cccccc;
  background-color: #f4f4f4;
  transform: translateY(-50%);
}

p.link-register {
  text-align: center;
  width: 100%;
  font-size: 14px;
}
p.link-register a:hover {
  text-decoration: underline;
}

p.txt-help {
  font-size: 12px;
  margin-top: 0.5rem;
  color: #999999;
  font-weight: 300;
}

.border, .input-radio, .input-checkbox, .input-data {
  cursor: pointer;
  border: 1px solid #cccccc;
  outline: 3px solid transparent;
  transition: border-color 300ms, outline-color 300ms;
}
.border:focus, .input-radio:focus, .input-checkbox:focus, .input-data:focus {
  border-color: #00a6fb;
  outline-color: rgba(0, 167, 251, 0.4);
}

.input-data {
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.input-checkbox {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
}
.input-checkbox:checked {
  border-color: #00a6fb;
}

.input-radio {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.input-radio:checked {
  border-color: #00a6fb;
}

.check-area {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.2rem;
}
.check-area label {
  font-size: 12px;
}

.button-success {
  padding: 0.3rem 2rem;
  margin-block: 1rem;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  outline: 3px solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  color: #f4f4f4;
  background-color: #67b99a;
  transition: outline-color 300ms;
}
.button-success:hover {
  outline-color: rgba(103, 185, 153, 0.4);
}
.button-success::placeholder {
  color: #67b99a;
}

.button-progress {
  padding: 0.3rem 2rem;
  margin-block: 1rem;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  outline: 3px solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  color: #f4f4f4;
  background-color: #00a6fb;
  transition: outline-color 300ms;
}
.button-progress:hover {
  outline-color: rgba(0, 167, 251, 0.4);
}
.button-progress::placeholder {
  color: #00a6fb;
}

.button-cancel {
  padding: 0.3rem 2rem;
  margin-block: 1rem;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  outline: 3px solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  color: #f4f4f4;
  background-color: #EE6055;
  transition: outline-color 300ms;
}
.button-cancel:hover {
  outline-color: rgba(238, 95, 85, 0.4);
}
.button-cancel::placeholder {
  color: #EE6055;
}

body {
  background-color: #f4f4f4;
}

.navbar {
  padding: 0.5rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323330;
}
.navbar .navbar-list-social li {
  display: inline-block;
  margin-right: 1rem;
}
.navbar .navbar-list-social li a {
  color: #f4f4f4;
  transition: color 600ms;
}
.navbar .navbar-list-social li a:hover {
  color: #00a6fb;
}

main.container {
  display: flex;
  align-items: center;
  height: calc(100vh - 41px);
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding-block: 5%;
}
.form h1 {
  width: 100%;
  font-size: 3em;
  text-align: center;
  text-transform: capitalize;
}
.form > label {
  display: block;
  font-weight: 500;
  font-size: 12px;
  margin-top: 0.5rem;
}
.form button.button-sucess {
  display: block;
  margin: 1rem auto;
}

.form-register {
  width: 600px;
  height: 650px;
  max-height: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cccccc;
}
.form-register .list-steps-progress {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 100%;
}
.form-register .list-steps-progress div.circle-step {
  width: 3rem;
  height: 3rem;
  outline: 4px solid #dddddd;
  background-color: #cccccc;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}
.form-register .list-steps-progress div.circle-step:not(:last-child)::after {
  content: "";
  width: 125px;
  height: 1px;
  background-color: #dddddd;
  display: block;
  position: absolute;
  z-index: -1;
  right: -100px;
}
.form-register .list-steps-progress div.circle-step.on {
  background-color: #67b99a;
  outline-color: rgba(103, 185, 153, 0.4);
  color: #f4f4f4;
}
.form-register .list-steps-progress div.circle-step.on::after {
  background-color: #67b99a;
}
.form-register h2 {
  font-size: 1.4em;
  width: 100%;
  text-align: center;
}
.form-register .steps-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  overflow: hidden;
}
.form-register .steps-flex .step {
  width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.form-register .steps-flex .step.hide {
  display: none;
}
.form-register .steps-flex .step label {
  margin-top: 0.5rem;
  font-size: 12px;
}
.form-register .steps-flex .step .flex-buttons {
  display: flex;
  gap: 1rem;
}
.form-register .steps-flex .step .check-area label {
  margin-top: 0;
}
.form-register div.container {
  text-align: center;
}
.form-register div.container h2 {
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 1rem;
}
.form-register div.container h2 span {
  color: #67b99a;
}
.form-register div.container p {
  text-align: justify;
}

/*# sourceMappingURL=global.css.map */
